<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jagadish.freshmart" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Freshmart" >
        <activity
            android:name=".view.deliveryboy.DeliveryHomeActivity"
            android:label="@string/title_activity_delivery_boy_main" >
        </activity>
        <activity android:name=".view.payment.status.OrderStatusActivity" />
        <activity
            android:name=".view.address.AddressActivity"
            android:label="@string/title_activity_address"
            android:theme="@style/Theme.Freshmart.NoActionBar" />
        <activity
            android:name=".view.orderinfo.OrderInfoActivity"
            android:label="@string/title_activity_order_info"
            android:theme="@style/Theme.Freshmart.NoActionBar" />
        <activity
            android:name=".view.products.ProductsListActivity"
            android:label="@string/title_activity_products_list"
            android:theme="@style/Theme.Freshmart.Dark.NoActionBar" />
        <activity
            android:name=".view.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".view.main.MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".view.splash.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.intro.IntroSliderActivity" />
        <activity android:name=".view.main.ui.location.LocationRequestFragment" />

        <service
            android:name=".utils.FirebaseInstanse"
            android:stopWithTask="false" >
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity android:name="com.oneclickaway.opensource.placeautocomplete.ui.SearchPlaceActivity">
        </activity>
    </application>

</manifest>